body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 420px;
    max-width: 90%;
    padding: 35px;
    border-radius: 18px;
    background:rgba(255,255,255,0.95);
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
}

h1{
    text-align: center;
    color:#5f2c82;
    margin-bottom: 25px;
    font-size: 32px;
    letter-spacing: 1px;
}

label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

select{
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    transition: .3s;
    font-size: 15px;

}

.gender{
    margin-bottom: 18px;
}

.gender label{
    display: inline;
    font-weight: normal;
    margin-right: 15px;
}

input[type="submit"]{
    width: 100%;
    padding: 13px;
    border:none;
    border-radius: 10px;
    background: linear-gradient(to right,#5f2c82,#49a09d);
    color:white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

input[type="submit"]:hover{
    transform: translateY(-2px);
    box-shadow:0 8px 18px rgba(0,0,0,.3);
}

input:focus,
select:focus{
    border-color:#5f2c82;
    box-shadow:0 0 10px rgba(95,44,130,.3);
    outline:none;
}

.required{
    color: red;
}

.input-box{
    display:flex;
    align-items:center;
    border:2px solid #ddd;
    border-radius:10px;
    padding:0 15px;
    margin-bottom:18px;
}

.input-box i{
    color:#5f2c82;
    margin-right:12px;
    font-size:16px;
}

.input-box input{
    border:none;
    outline:none;
    width:100%;
    height:50px;
    font-size:16px;
}